---
layout: default
title: Reading list
excerpt: "List of books I've read, grouped by Year"
permalink: /reading-list/
---

<main class="pv2 ph5-ns ph4 lh-copy gray" role="main" id="top">
  <section class="measure-wide">
    <h1 class="gray mb1 f3 fw1">reading list</h1>
    <p class="mb2">List of books I've read, grouped by year, in reverse chronological order.</p>
    <ul class="list ph0 mh0 pv2">
      {% for year in site.data.reading-list %}
        <li class="dib mr1"><a class="f6 f5-ns b db ph1 link dim blue" href="#{{year.year}}">{{year.year}}</a></li> {%unless forloop.last%}|{%endunless%}
      {% endfor %}
    </ul>
    <hr>
    <div class="mv2 lh-copy gray measure-wide">
      {% for year in site.data.reading-list %}
      <h2 class="f2" id="{{year.year}}">
        {{year.year}} <span class="f4 fw1"><em>({{year.books.size}})</em></span>
      </h2>
      <a class="blue dim link dib f5" href="#top">&uarr; back to top</a>
      <ul class="list pl0 mt3 mb5">
        {% assign books = year.books | reverse %}
        {% for book in books %}
          <li class="pv3">
            <h3 class="ma0">{{book.title}}</h3>
            | <em>{{book.author}}</em>
          </li>
        {% endfor %}
      </ul>
      {%unless forloop.last%}<hr>{%endunless%}
      {% endfor %}
    </div>
    <a class="mv3 no-underline blue dim" href="/">&larr; Home</a>
  </section>
</main>
