---
layout: default
title: Ty Carlson | Resume
permalink: /resume/
---

<main class="pv2 ph5-ns ph4 lh-copy gray" role="main">
	<p class="f5 measure-wide lh-copy">I am a designer and front-end developer with experience building responsive designs for everything from basic marketing websites to software used on hundreds of thousands of websites. I enjoy both the creative work that comes from designing a beautiful project with solid UI/UX, and the technical side of making it all actually work in a browser. In my free time, I enjoy spending time with my wife and son, as well as chasing after our retired racing greyhound, drinking a nicely brewed pot of tea, or practicing my new hobby of wheel thrown pottery.</p>

	<section class="measure-wide">
		<h2 class="f2 w-50 mb0">Experience</h2>
		<hr />
		
		<div class="mb4">
			<h3 class="f5 ttu">iThemes - Lead Front-End Developer and Product Designer<br />October 2011 - Present</h3>
			<p>As a Lead Front End Developer I have a hand in almost every product iThemes creates, though my primary responsibility has been iThemes Sync, a custom SaaS web application providing remote management of multiple WordPress websites in a central location. I designed the application, built out a front end heavily reliant on in-page AJAX interactions, and continue to provide design and development of new features.</p>
			<p>Additionally, I recently assisted in rebuilding an internal customer and subscription management application as a single page React application on top of a RESTful JSON API. </p>
		</div>
		
		<div class="mb4">
			<h3 class="f5 ttu">Element Fusion ( NetSuite ) - Web Designer<br />November 2010 - October 2011</h3>
			<p>As a web designer for Element Fusion, I worked directly with clients to provide bespoke solutions to their business website needs. From discovery and mockups, to HTML/CSS/JS and content insertion, I helped build the vital online components of their business or organization.</p>
			<p>Additionally I designed and developed default templates to be used on their content management platform, LightCMS. </p>
		</div>
		
		<div class="mb4">
			<h3 class="f5 ttu">Collision Media - Designer<br />May 2009 - November 2010</h3>
			<p>As a designer at CollisonMedia, I had my hands in a variety design projects including branding, collateral, videography, and websites. </p>
		</div>
	</section>
	
	<section class="measure-wide">
		<h2 class="f2 w-50 mb0">Education</h2>
		<hr />
		
		<div class="mb4">
			<h3 class="f5 ttu">Southwestern Oklahoma State University</h3>
			<p>(2008) B.A. Communication Arts - Speech Emphasis, Marketing Minor</p>
	</section>
	
	<section class="measure-wide">
		<h2 class="f2 w-50 mb0">Skillset</h2>
		<hr />
		
		<div class="mb4">
			<ul class="pl0 f6">
				<li>Adobe Photoshop</li>
				<li>Adobe Illustrator</li>
				<li>UI/UX Principles</li>
				<li>HTML/CSS</li>
				<li>Javascript</li>
				<li>Sass/Less</li>
				<li>PHP</li>
				<li>Grunt/Gulp</li>
				<li>Browserify/Webpack</li>
				<li>Git from command line</li>
				<li>WordPress, LightCMS, CraftCMS, and various other content management systems</li>
				<li>Basic Ubuntu server administration</li>
			</ul>
		</div>
	</section>
	
	<section class="w-100 w-75-l">
		<h2 class="f2 w-50 mb0">Projects</h2>
		<hr />
		
		<div class="mb4">
			<ul class="pl0 list cf">
				<li class="fl w-100 w-50-l border-box db pr3 mb3">
					<a class="db no-underline blue dim" href="https://ahfrack.com/" target="_blank">
						<img class="db mb0 bb bw2 b--blue" src="{% if jekyll.environment == 'production' %}{{ site.cdn_url }}{% else %}/assets{% endif %}/img/AhFrack-50.png" />
						<span class="project_title">Ah, Frack!</span>
					</a>
				</li>
				<li class="fl w-100 w-50-l border-box db pr3 mb3">
					<a class="db no-underline blue dim" href="http://dailythunder.com/" target="_blank">
						<img class="db mb0 bb bw2 b--blue" src="{% if jekyll.environment == 'production' %}{{ site.cdn_url }}{% else %}/assets{% endif %}/img/DailyThunder-50.png" />
						<span class="project_title">Daily Thunder</span>
					</a>
				</li>
				<li class="fl w-100 w-50-l border-box db pr3 mb3">
					<a class="db no-underline blue dim" href="https://simpletongoods.com" target="_blank">
						<img class="db mb0 bb bw2 b--blue" src="{% if jekyll.environment == 'production' %}{{ site.cdn_url }}{% else %}/assets{% endif %}/img/Simpleton-50.png" />
						<span class="project_title">Simpleton Goods</span>
					</a>
				</li>
				<li class="fl w-100 w-50-l border-box db pr3 mb3">
					<a class="db no-underline blue dim" href="http://artdeskmagazine.com" target="_blank">
						<img class="db mb0 bb bw2 b--blue" src="{% if jekyll.environment == 'production' %}{{ site.cdn_url }}{% else %}/assets{% endif %}/img/Artdesk-50.png" />
						<span class="project_title">ArtDesk Magazine</span>
					</a>
				</li>
				<li class="fl w-100 w-50-l border-box db pr3 mb3">
					<a class="db no-underline blue dim" href="http://ithemes.com/sync" target="_blank">
						<img class="db mb0 bb bw2 b--blue" src="{% if jekyll.environment == 'production' %}{{ site.cdn_url }}{% else %}/assets{% endif %}/img/Sync-50.png" />
						<span class="project_title">iThemes Sync</span>
					</a>
				</li>
				<li class="fl w-100 w-50-l border-box db pr3 mb3">
					<a class="db no-underline blue dim" href="http://ithemes.com/backupbuddy" target="_blank">
						<img class="db mb0 bb bw2 b--blue" src="{% if jekyll.environment == 'production' %}{{ site.cdn_url }}{% else %}/assets{% endif %}/img/BackupBuddy-50.png" />
						<span class="project_title">iThemes BackupBuddy</span>
					</a>
				</li>
				<li class="fl w-100 w-50-l border-box db pr3 mb3">
					<a class="db no-underline blue dim" href="http://ithemes.com/security" target="_blank">
						<img class="db mb0 bb bw2 b--blue" src="{% if jekyll.environment == 'production' %}{{ site.cdn_url }}{% else %}/assets{% endif %}/img/Security-50.png" />
						<span class="project_title">iThemes Security</span>
					</a>
				</li>
			</ul>
		</div>
	</section>
</main>