$text-color:       #999;
$background-color: #fdfdfd;
$brand-color:      #357edd;

$gray-color:       #828282;
$gray-color-light: lighten($gray-color, 40%);
$gray-color-dark:  darken($gray-color, 25%);