html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'iA Writer Duospace', 'source-code-pro', Menlo, Consolas;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--body-background);
  color: var(--body-foreground);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  padding: 0 5%;

  @include breakpoint( 'small up' ) {
    padding: 0 5%;
    max-width: 768px;
  }
}

.container--fluid {
  padding: 0 5%;
}

blockquote {
  background-color: var(--body-background-alt);
  border-left: 3px solid var(--body-foreground);
  padding: 2rem;
  margin: 0 0 1.6rem 0;

  p {
    margin: 0 0 1.6rem 0
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.lazy-list {
  img {
    opacity: 1;
    transition: opacity 0.3s;
  }

  img[data-src] {
    opacity: 0;
  }
}

.turbolinks-progress-bar {
  height: 5px;
  background-color: var(--body-foreground);
}

hr {
  border: none;
  border-bottom: 1px dashed #d1d6d9;
  margin: 4rem 0;
}

main {
  a {
    color: var(--body-foreground);
    text-decoration: none;
    transition: opacity .15s ease-in;

    &:hover,
    &:focus {
      opacity: .7;
    }
  }
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.take-me-back {
  margin-top: 8rem;
  display:inline-block;
}

.take-me-back + .take-me-back {
  margin-top: 4rem;
}
