---
layout: default
---

<main class="pv2 ph5-ns ph4 lh-copy gray" role="main">
	<section class="measure-wide">
		<h1 class="f1 lh-title">{{ page.title }}</h1>
		<h2 class="f4 dib mb4 pb2 ba-2 bl-0 bt-0 br-0 b--solid b--blue">{{ page.date | date: "%b %d, %Y" }}</h2>
		{{ content }}
	</section>
</main>

<aside class="pv2 ph5-ns ph4 lh-copy gray measure-wide">
	{% if page.previous or page.next %}
	<ul class="list pl0 mt3 mb5">
		{% if page.previous %}
			<li class="pv3 ba bl-0 {% if forloop.first != true %}bt-0{% endif %} br-0 b--dotted b--black-30">
				<a href="{{page.previous.url}}" class="link blue lh-title">
					<span class="db dark-gray ttu tracked ">Prev</span>
					<span class="dib no-underline">{{ page.previous.title}}</span>
					<span class="db black-60">{{ page.previous.date | date: "%b %d, %Y"}}</span>
				</a>
			</li>
		{% endif %}
		{% if page.next %}
		<li class="pv3 ba bl-0 {% if forloop.first != true %}bt-0{% endif %} br-0 b--dotted b--black-30">
			<a href="{{page.next.url}}" class="link blue lh-title">
				<span class="db dark-gray ttu tracked ">Next</span>
				<span class="dib no-underline">{{ page.next.title}}</span>
				<span class="db black-60">{{ page.next.date | date: "%b %d, %Y"}}</span>
			</a>
		</li>
		{% endif %}
	</ul>
	{% endif %}
	<a class="mv3 no-underline blue hover-dark-blue" href="{{ site.url }}">&larr; Go Back Home</a>
</aside>
