---
layout: default
---

<main class="site-content container">
  <section>
    <h2>{{ page.title }}</h2>
    <p>{{ page.date | date: "%b %d, %Y" }}</p>
    <span><small>Read time: <strong>{% include read_time.html %}</strong></small></span>
    <hr />
    {{ content }}
  </section>

  <aside>
    {% if page.previous or page.next %}
    <ul class="list">
      {% if page.previous %}
        <li>
          <a href="{{page.previous.url}}">&larr;  {{ page.previous.title}}</a>
          <p><small>{{ page.previous.date | date: "%b %d, %Y"}}</small></p>
        </li>
      {% endif %}
      {% if page.next %}
      <li>
        <a href="{{page.next.url}}">{{ page.next.title}} &rarr;</a>
        <p><small>{{ page.next.date | date: "%b %d, %Y"}}</small></p>
      </li>
      {% endif %}
    </ul>
    {% endif %}
    <a href="/blog" class="take-me-back">&larr; Blog</a>
  </aside>
</main>
