---
layout: default
---

<main class="site-content container">
  <section>
    <h1>{{ page.title }}</h1>
    <h2>{{ page.date | date: "%b %d, %Y" }}</h2>
    <span>Read time: <strong>{% include read_time.html %}</strong></span>
    <hr />
    {{ content }}
  </section>

  <aside>
    {% if page.previous or page.next %}
    <ul class="list">
      {% if page.previous %}
        <li>
          <a href="{{page.previous.url}}">Prev &mdash; {{ page.previous.title}}</a>
          <p><small>{{ page.previous.date | date: "%b %d, %Y"}}</small></p>
        </li>
      {% endif %}
      {% if page.next %}
      <li>
        <a href="{{page.next.url}}">Next &mdash; {{ page.next.title}}</a>
        <p><small>{{ page.next.date | date: "%b %d, %Y"}}</small></p>
      </li>
      {% endif %}
    </ul>
    {% endif %}
    <a href="/blog">&larr; Blog</a>
  </aside>
</main>
